<html>
<head>
	<style>
	p, a { font-family: sans-serif }
	li { list-style-type: none }
	</style
</head>
<body>
<p>
lil bb browser ghost
</p>

<ul>
	<li><a href="https://twitter.com/yoshuawuyts">Twitter</a></li>
	<li><a href="https://github.com/yoshuawuyts">GitHub</a></li>
	<li><a href="https://twitch.tv/yoshuawuyts">Twitch</a></li>
</ul>
<p style="max-width: 300px; text-align: justify;">
In the process of adding SSL to this site. Then going to put up a blog of sorts. Hoping to use Rust for all stages!
<p>
</body>
</html>
