<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      body, p, a { font-family: monospace; color: white; line-height: 1.5 }
      a { text-decoration: underline;}
      li { list-style-type: none; }
      html { background-color: black; color: white; }
    </style>
  </head>
  <body style="max-width: 300px;">
    <marquee style="max-width: 300px;">
      We are currently under construction.
      This blog is currently being built.
      This server is not lonely.
      Because you are here.
      Will you be my friend?
      You can be a website too.
      Will you be my website friend?
      We are currently under construction.
    </marquee>

    <ul>
      <li><a href="https://twitter.com/yoshuawuyts">Twitter</a></li>
      <li><a href="https://github.com/yoshuawuyts">GitHub</a></li>
      <li><a href="https://twitch.tv/yoshuawuyts">Twitch</a></li>
    </ul>
    <p style="text-align: justify; margin-left: 1rem; margin-right: 1rem;">
      We've got SSL working! Hoping to put up a static blog up here soon;
      probably using Rust for some things.
    </p>

    <p style="text-align: justify; margin-left: 1rem; margin-right: 1rem;">
      Interested in working together? Got a question?
      Shoot me an email at
      <a href="mailto:yoshuawuyts@gmail">yoshuawuyts@gmail.com</a>
    </p>

    <marquee style="max-width: 300px;">
      We are currently under construction.
      This blog is currently being built.
      This server is not lonely.
      Because you are here.
      Will you be my friend?
      You can be a website too.
      Will you be my website friend?
      We are currently under construction.
    </marquee>

    <marquee direction="down" width="300" height="200" behavior="alternate" scrollamount="3">
      <marquee behavior="alternate">
        Books are open for <br/> February 2019.
      </marquee>
    </marquee>
  </body>
</html>
